@import 'globals';
@include react-md-everything;

@import 'animate';

@mixin custom-scroll(){
    &::-webkit-scrollbar-track
    {
    	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    	border-radius: 10px;
    	background-color: #F5F5F5;
    }
    
    &::-webkit-scrollbar
    {
    	width: 4px;
    	background-color: #F5F5F5;
    }
    
    &::-webkit-scrollbar-thumb
    {
    	border-radius: 10px;
    	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    	background-color: $md-primary-color;
    }
}

$_font-family: 'Roboto', 'Noto Sans TC', sans-serif;

html * {
  font-family: $_font-family;
}

#rc-main{
    height: inherit;
    text-align: center;
    overflow: hidden;
}
#rc-title{
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    transition: .5s ease;
    
    img{
        width: 550px;
        margin-bottom: -40px;
        
        @media screen and ( max-width: 768px ){
            width: 90%;
        }
    }
    
    @media screen and ( max-width: 768px ){
        top: 30%;
    }
    
    &.up{
        top: 10%;
    }
}
#rc-body{
    position: relative;
    top: 40%;
    transition: .5s ease .1s;
    
    &.up{
        top: 10%;
    }
}
#rc-footer, #rc-drawer-footer{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #fff;
    opacity: .8;
    
    .rc-version{
        opacity: .5;
    }
    .fa-heart{
        color: $md-secondary-color;
    }
    b{
        font-weight: bold;
    }
}
#rc-drawer-footer{
    color: $md-primary-color;
}

.rc-info-group{
    margin-top: 15px;
}

.rc-info{
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    font-weight: lighter;
    margin: 0 auto;
    
    b{
        font-size: 1.2em;
        font-weight: bolder;
    }
    
    @media screen and ( max-width: 768px ){
        width: 80%;
    }
    
}

#rc-back{
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 99;
    transform: translateY(-50%);
    
    @media screen and ( max-width: 768px){
        left: 0;
    }
}

#rc-post-url{
    width: 750px;
    margin: 15px auto;
    
    #post-url{
        text-align: center;
    }
    
    @media screen and ( max-width: 768px ){
        width: 80%;
    }
}

#rc-lottery{
    
    #rc-quota{
        //width: 150px;
        margin: 15px auto;
        #quota{
            text-align: center;
        }
        .quota{
            display: inline-block;
            width: 150px;
            margin: 0 20px;
        }
    }
    .rc-lottery-btn{
        display: inline-block;
        
        &:nth-child(2){
            padding: 0 12px;
        }
        
        .rc-lottery-btn-info{
            color: #333;
            margin: 5px 0;
            transition: .5s;
            &.rc-lottery-btn-info-warn{
                color: $md-secondary-color;
                transition: .3s;
                transform: scale(1.1);
            }
        }
    }
}

#rc-bang-list{
    width: 970px;
    min-height: 180px;
    max-height: 45vh;
    padding: 5px 0 20px 0;
    margin: 20px auto;
    overflow-y: auto;
    
    @include custom-scroll;
    
    @media screen and ( max-width: 768px){
        width: 80%;
        padding: 0;
    }
}
.rc-bang-paper{
    background: white;
    width: 300px;
    height: 90px;
    display: inline-block;
    margin: 0 10px 10px 10px;
    
    .rc-bang-bg{
        position: relative;
        height: 100%;
        background: white;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 170px -23px;
        transition: .5s;
        &:hover{
            background-size: 55%;
        }
        &:before{
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            background-color: rgba(255,255,255,.8);
        }
    }
}
.rc-bang{
    text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
    &:hover{
        z-index: 99;
    }
    
    .rc-bang-info{
        padding-left: 30px;
        
        img.avatar{
            width: 50px;
            height: 50px;
        }
        .rc-bang-created-time{
            color: gray;
            position: absolute;
            right: 2px;
            font-size: 13px;
            opacity: .7;
        }
        .rc-bang-username{
            color: black;
            position: absolute;
            top: 5px;
            left: 95px;
            font-weight: bold;
            padding-right: 15px;
        }
        .rc-bang-actions{
            position: absolute;
            top: 25px;
            left: 95px;
            color: rgba(0,0,0,.7);
            padding-right: 15px;
            
            b{
                font-size: 1.1em;
                font-weight: bold;
                padding-left: 2px;
            }
            img{
                width: 32px;
                transition: .5s;
                &:hover{
                    transform: scale(4);
                }
            }
        }
    }
}

#rc-drawer{
    button{
        position: absolute;
        right: 0;
        z-index: 99;
    }
}
#rc-drawer-user{
    text-align: center;
    margin-top: 35px;
    
    img{
        box-shadow: 1px 3px 11px #888888;
    }
    span{
        display: block;
        margin-top: -15px;
        font-size: .8em;
        color: gray;
    }
}
#rc-drawer-signout{
    text-align: center;
    margin-top: 10px;
}

.rc-dialog-info{
    margin: 15px;
    
    .rc-dialog-info-primary{
        border-bottom: 1px dashed black;
        padding: 0 3px;
    }
}
.rc-dialog-img{
    max-width: 490px;
    height: 480px;
    margin: 15px auto;
    padding: 10px;
    text-align: center;
    overflow-y: auto;
    
    @include custom-scroll;
    
    img{
        width: 100%;
        box-shadow: 2px 2px 10px #888888;
    }
    
    @media screen and ( max-width: 768px ){
        height: 40vh;
    }
}

#rc-spinner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    
    &:before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: radial-gradient(circle, white, black);
        opacity: .4;
    }
    
    img{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}