html, body, #app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  //background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  //background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
